<div class="participant-card">
  <h2><a href="/athlete/{{athleteId}}">{{name}}</a></h2>
  <p class="university-info-card">
    <strong><a href="/university/{{universityId}}">{{university}}</a></strong>
  </p>
  <div class="details-grid">
    <div class="detail-item">
      <strong>Рост:</strong> {{height}} см
    </div>
    <div class="detail-item">
      <strong>Вес:</strong> {{weight}} кг
    </div>
    <div class="detail-item">
      <strong>Пол:</strong> {{gender}}
    </div>
    <div class="detail-item">
      <strong>Роль:</strong> {{role}}
    </div>
  </div>
</div>