<div class="body">
  <div class="university-header">
    <img src="{{universityHeaderImage}}" alt="{{universityName}} - Панорама">

    <div class="university-logo-container">
      <img src="{{universityLogo}}" alt="{{universityName}} - Логотип" class="university-logo">
    </div>
  </div>

  <div class="university-info-container">
    <h1 class="university-title">{{universityName}}</h1>

    <div class="university-details">
      <div class="university-detail-card">
        <div class="university-detail-title">Дата основания</div>
        <div>{{foundationDate}}</div>
      </div>

      <div class="university-detail-card">
        <div class="university-detail-title">Вступление в СГЛ</div>
        <div>{{sglJoinYear}} год</div>
      </div>

      <div class="university-detail-card">
        <div class="university-detail-title">Достижения в СГЛ</div>
        <div>{{achievements}}</div>
      </div>
    </div>

    <div class="university-description">
      <p>{{universityDescription}}</p>
    </div>

    <div class="university-coaches">
      <h2 class="coaches-title">Тренерский состав</h2>

      <div class="coaches-list">
        {{#each coaches}}
          <div class="coach-card">
            <div class="coach-name">{{this.name}}</div>
            <div class="coach-role">{{this.role}}</div>
            <div class="coach-description">{{this.description}}</div>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="team-section">
      <h2 class="team-title">Команда</h2>

      <div class="participants-list">
        {{#each teamMembers}}
          {{> participant-card}}
        {{/each}}
      </div>
    </div>
  </div>
</div>